<div class="container">
<% @audios.reverse.each do |audio| %>
 <!--  <div class="podcast-card-container">
    <div class="podcast-play-button">
      <i class="fas fa-play"></i>
    </div>
    <div class="podcast-image">
      <%# if audio.text_image.present? %>
        <%#= image_tag(audio.text_image) %>
      <#% else %>
        <img src="https://source.unsplash.com/50x50/?abstract, <%#= (0..200).to_a.sample %>" >
      <#% end %>
    </div>
    <p class="podcast-title">
      <%= audio.title %>
    </p>
    <div class="podcast-duration">
      <%= audio.duration %>
    </div>
    <div class="favorites">
      <i class="far fa-heart"></i>
    </div>
  </div> -->
    <%= render 'shared/podcast-card', audio: audio %>
<% end %>
</div>

