<div class="container" id="audio_new">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#url" role="tab" aria-controls="url" aria-selected="true">Transcrire à partir d'un URL</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#copypaste" role="tab" aria-controls="copypaste" aria-selected="false">Transcrire à partir d'un écrit</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="url" role="tabpanel" aria-labelledby="url-tab">
      <label>Adresse web du texte à transcrire</label>
      <input class="form-control" type="text" placeholder="Mettez ici l'adresse web du texte à transcrire" id="mercuryInput">
      <button type="button" class="btn btn-primary btn-holder" id="mercuryButton">Transcrire en audio</button>
    </div>
    <div class="tab-pane fade" id="copypaste" role="tabpanel" aria-labelledby="copypaste-tab">
      <%= simple_form_for(@audio) do |f| %>
        <%= f.input :title, :label => "Titre du texte", placeholder: "Mettez ici le texte du texte à transcrire" %>
        <%= f.input :text_to_transcript, :label => "Texte à transcrire", as: :text, placeholder: "Mettez ici le contenu du texte à transcrire" %>
        <%= f.submit "Transcrire en audio", class: "btn btn-primary btn-holder"%>
      <% end %>
    </div>
  </div>
</div>
