
<div class="content-container">

    <h1> <%= @audio.title %></h1>
     <p> <%= @audio.text_to_transcript %></p>
    <br>
    <br>


</div>
  <% audiofile = cloudinary_url(@audio.audiofile.key, resource_type: :video) %>
  <%= render './shared/audio_player', audio_file: audiofile, audio: @audio %>

