</p> <%= @audio.text_url %>
<%= @audio.text_to_transcript %>
<p>
<br>
<br>
 <audio controls src="<%= cloudinary_url(@audio.audiofile.key + ".#{Audio::FILE_EXTENSION}", resource_type: :raw) %>
"> Your browser does not support the <code>audio</code> element.</audio>
