</p> <%= @audio.text_url %>
<%= @audio.text_to_transcript %>
<p>
<br>
<br>
 <audio controls src="<%= cloudinary_url("nrldpepqg9imehjeouhx", :resource_type=>"video") %>
"> Your browser does not support the <code>audio</code> element.</audio>
