.audios_show .content-container {
  height: calc(100vh - 182px);
  padding: 30px 0;
  overflow-y: scroll;
}

.content-container {
  h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
  }
  p {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  h2 {
    line-height: 3;
  }
  .content {
    // margin: 0 auto;
    // width: 700px;
  }
  picture img{
    width: 100%
  }
}

.article-header {
  border-bottom: 1px solid $inter-grey;
  margin-bottom: 1.5rem;
  padding: 10px 0;
  .original-link {
    color: $dark-grey;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

.record:hover {
   background-color: $green;
}
