
<div class="col-10 col-sm-10 offset-sm-1 mt-5">
 <%= render 'shared/user_bio', user: @user %>
 <%= render 'shared/playlists_section', user: @user %>
 <%= render 'shared/podcasts_section', user: @user %>
</div>
