
<div class="player-track">
  <div class="audio-details">
    <%= render 'shared/audio_player_track_details', audio: audio %>
  </div>
  <audio id="player" controls>
      <source src="<%= audio.audio_url %>" type="audio/mp3" />
  </audio>
</div>
