<div class="row px-2">

<div class="navbar_container col-2 bg-secondary">
<%= render 'shared/sidebartwo' %>
</div>

<div class="sidebar_container col-10 bg-primary">
<%= render 'shared/navbar' %>
</div>

</div>
