<div class="podcast-card-container">
  <div class="podcast-play-button">
    <i class="fas fa-play"></i>
  </div>
  <div class="podcast-image">
    <img src="https://source.unsplash.com/50x50/?abstract, <%= (0..200).to_a.sample %>" >
  </div>
  <p class="podcast-title">
    <%= audio.title %>
  </p>
  <div class="podcast-duration">
    <%= audio.duration %>
  </div>
  <div class="favorites">
    <i class="far fa-heart"></i>
  </div>
</div>

