<%# Sidebar %>
    
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
        
            
            <ul class="list-unstyled components">
                <%# <li class="active"> %>
                <li>
                    <a href="#">
                    <i class="fas fa-bookmark"></i>
                    Ma liste
                    </a>
                </li>

                <li>
                    <a href="#">
                    <i class="fas fa-archive"></i>
                    Archive
                    </a>
                </li>

                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Filtres</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">
                                <i class="fas fa-heart">
                                </i>
                            Favoris
                            </a>
                        </li>

                        <li>
                            <a href="#">
                            <i class="fas fa-poll">
                            </i>
                            Populaires
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-tags">
                                </i>
                                Étiquetés
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-file-alt">
                                </i>
                            Articles
                            </a>
                        </li>

                       
        
                        
                    </ul>
                </li>

                <p>
                Optez pour l'expérience Flynn. Transformez vos lectures en audio et gagnez du temps.
                </p>
            </ul>

        </nav>
    </div>