#playlist_new {
    max-width: 800px;
}

#playlist_new .btn-holder{
  width: 160px;
  height: 40px;
  margin: 40px auto;
}

#playlist_new .simple_form{
  text-align: center;
  display: flex;
  justify-content: center;
}

#playlist_new .container{
  text-align: center;
  display: flex;
  justify-content: center;
}
