// #playlist_new {
//     max-width: 800px;
// }

// #playlist_new .btn-holder{
//   width: 160px;
//   height: 40px;
//   margin: 40px auto;
// }

// #playlist_new .simple_form{
//   text-align: center;
//   display: flex;
//   justify-content: center;
// }

// #playlist_new .container{
//   text-align: center;
//   display: flex;
//   justify-content: center;
// }
#playlist_new {
  margin-top: 50px;
  h1 {
    font-size: 3.5rem;
    margin-bottom: 4rem;
  }
  .form-container {
    display: flex;
    .input-details {
      flex-grow:1;
    }
  }
}

.custom-file-input {
  width: 30px;
  &::-webkit-file-upload-button {
    visibility: hidden;
  }
}

.custom-file-label {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  border: none;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0 2rem 0 0;
  background-color: $inter-grey;
  &:focus {
    box-shadow: 0 0 0 5px rgba(208,208,208,.5);
    outline: 0;
  }
  &:after {
    content: none;
  }
}
