.plus-button {
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  align-items:center;
  line-height: 2;
  color: $medium-grey;
  // background-color: $light-blue;
  // border-radius: 5px;
  i {
    font-size: 2rem;
    margin-left: 5px;
  }
  a {
    color: $medium-grey;
  }
  i:hover {
    font-size: 2rem;
    color: $blue-flynn;
  }
}

.btn-unfollow {
  padding: 2px 8px;
  font-size: 1.3rem;
  border: 1px solid $blue-flynn;
  color: $blue-flynn;
  &:hover {
    color: $blue-flynn;
  }
}

.btn-follow {
  padding: 2px 12px;
  font-size: 1.3rem;
  background-color: $blue-flynn;
  color: $white;
  &:hover {
    color: $white;
    background-color: $dark-blue;
  }
}

.btn-ghost {
  color: $medium-grey;
  border: 1px solid $medium-grey;
  padding: 2px 12px;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
  }
}

.btn-add-podcast {
    color: white;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: $blue-flynn;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 10px 5px 37px 9px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 20px;
    margin-left: 35px;
}
