@keyframes float {
  0% {
    box-shadow: 25px 25px 55px 15px rgba(0.3, 0.3, 0.3, 0.15);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 25px 25px 55px 15px rgba(0.3, 0.3, 0.3, 0.15);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 25px 25px 55px 15px rgba(0.3, 0.3, 0.3, 0.15);
    transform: translatey(0px);
  }
}
