.playlists-container {
  margin-top: 30px;
}


.playlists-title-section {
  display: flex;
  flex-direction:column;
  margin-bottom: 20px;
  h2 {
    margin-top: 20px;
    font-size: 2rem;
  }
  .playlists-count {
    color: $inter-grey;
    font-size: 1.2rem;
  }
}


.playlists-cards-container {
  display: flex;
}

.playlist-card {
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 5px;
}

.add-playlist {
  background-color: $light-grey;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  color: $inter-grey;
  border: 1px solid rgba(201,201,201,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin: 0 5px 0 0;
  i {
    font-size: 3rem;
    margin: 5px;
  }
  &:hover {
    color: $blue-flynn;
  }
}
