.playlists-container {
  margin-top: 30px;
}

.playlists-cards-carousel {
  width: 100%;
}

.slick-wrapper {
  width: calc(100% + 30px); //we need more width for the shadows on the edges
  padding: 0 50px; //space for the shadows
  margin: -50px; //put the div in its original position
  overflow: hidden;
}

.slick-list {
  overflow: visible !important;
  padding: 70px 0px !important;
}

.slick-slide {
  opacity: 0;
  .drop-shadow {
  box-shadow: none; //no shadow for a hidden slide
  transition: box-shadow 0.1s ease-in-out; //little effect to fade the shadow
  }
}

.slick-slide.slick-active {
  opacity: 1;
  .drop-shadow {
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.3); //only the active slides have the shadow
  }
}

// .slick-list {
//   box-sizing: initial;
//   padding: 50px 0px !important;
//   overflow: visible !important;
// }

// .slick-slide {
//    opacity: 0;
//    transition: opacity 500ms;
//    &.slick-active {
//    opacity: 1;
//  }
// }

.slick-arrow {
  position: absolute;
  z-index: 2;
  top: 10%;
  font-size: 1.6rem;
  color: $medium-grey;
  cursor: pointer;
  &.fa-chevron-left {
    right: 85px;
  }
  &.fa-chevron-right {
    right: 60px;
  }
  &:hover {
    color: $blue-flynn;
  }
}


/////////////////// PLAYLIST SECTION ///////////////////

.playlists-title-section {
  display: flex;
  align-items: start;
  // justify-content: space-between;
  padding: 20px 0;
  .playlists-titles {
    display: flex;
    flex-direction:column;
    h2 {
    font-size: 2rem;
    }
  .playlists-count {
    color: $inter-grey;
    font-size: 1.2rem;
    }
  }
}

/////////////////// PLAYLIST CARD ///////////////////

.playlists-cards-container {
  display: flex;
}

.playlist-card {
  background-size: cover;
  background-position: center;
  height: 160px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.3);
  margin: 0 20px;
  &:first-child { margin: 0 20px 0 0;}
}

.add-playlist {
  background-color: $light-grey;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  color: $inter-grey;
  border: 1px solid rgba(201,201,201,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin: 0 5px 0 0;
  i {
    font-size: 3rem;
    margin: 5px;
  }
  &:hover {
    color: $blue-flynn;
  }
}
