.podcasts-container {
  margin-top: 30px;
  margin-bottom: 150px;
}

/////////////////// PODCAST SECTION ///////////////////

.podcasts-title-section {
  display: flex;
  align-items: start;
  // justify-content: space-between;
  padding: 20px 0;
  .podcasts-titles {
    display: flex;
    flex-direction:column;
    h2 {
      font-size: 2.2rem;
    }
    .podcasts-count {
      color: $inter-grey;
      font-size: 1.2rem;
    }
  }
}


.podcasts-cards-container {
  display: flex;
  flex-direction: column;
}

.add-podcast {
  background-color: $light-grey;
  width: 250px;
  height: 60px;
  color: $inter-grey;
  border: 1px solid rgba(201,201,201,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 5px 0 0;
  i {
    font-size: 2rem;
    margin: 10px;
  }
  a {color:$inter-grey;}
  &:hover, &:hover a{
    color: $blue-flynn;
    text-decoration: none;
  }
}


/////////////////// PODCAST CARD ///////////////////

.podcast-card-container {
  width: 100%;
  background-color: $light-grey;
  border-radius: 10px;
  margin: 4px 0;
  padding: 10px;
  display: flex;
  align-items:center;
  justify-content: space-around;
  color: $dark-grey;
  font-size: 1.3rem;
  .podcast-play-button {
    min-width: 60px;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    color: $inter-grey;
  }
  .podcast-image {
    padding: 5px 0;
    img {
      width: 96px;
      height: 80px;
      border-radius: 5px;
      object-fit:cover;
    }
  }
  .podcast-text {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 0 20px 0 20px;
    margin: 0;
    max-width: 680px;
    .podcast-title {
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.5;
    }
    .podcast-desc {
      color: $medium-grey;
    }
    .podcast-media {
      color: $inter-grey;
      font-weight: 700;
      line-height: 2;
      a {color: $inter-grey;}
    }
  }
  .podcast-date {
    width: 150px;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1.3rem;
  }
  .podcast-duration {
    width: 80px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
  }
  .podcast-3dots {
    width: 60px;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: $medium-grey
  }
  &:hover {
    background-color: $light-blue;
  }
}
.podcast-favorites {
  width: 80px;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  i.fas {color: $blue_flynn}
}

.podcast-card-transition {
  opacity: 1;
  margin: 4px 0;
  display: block;
}
.card-hidden {
  display: none;
}
.card-transition.card-hidden {
  display: block;
  opacity: 0;
}
.card-transition {
  transition: opacity 0.3s ease;
}

