<div class="container offset-sm-2 col-sm-8" id="playlist_new">
  <h1>Modifier une playlist</h1>
  <%# if @playlist.playlist_image.attached? %>
    <%= render 'shared/form_playlist', user: @user, playlist: @playlist %>
  <%# end %>
</div>
